<footer class="body-font w-full h-auto sm:px-20 px-4 sm:pt-16 pb-7 pt-0">
  <div class="flex sm:flex-nowrap flex-wrap justify-between mb-10">
    <div class="sm:w-1/9 w-1/2 sm:mb-0 mb-6">
      <p class="text-primary text-lg font-bold pb-4">Company</p>
      <p class="pb-2">About Us</p>
      <p class="pb-2">Careers</p>
      <p class="pb-2">Press</p>
      <p class="pb-2">Pricing</p>
    </div>
    <div class="sm:w-1/9 w-1/2 sm:mb-0 mb-6">
      <p class="text-primary text-lg font-bold pb-4">Solutions</p>
      <p class="pb-2">Analytic Tools</p>
      <p class="pb-2">Business Website</p>
      <p class="pb-2">Inventory Management</p>
      <p class="pb-2">Marketplace</p>
      <p class="pb-2">Online Payments</p>
    </div>
    <div class="sm:w-1/9 w-1/2 sm:mb-0 mb-6">
      <p class="text-primary text-lg font-bold pb-4">Help</p>
      <p class="pb-2">Contact Us</p>
      <p class="pb-2">FAQs</p>
      <p class="pb-2">Live Chat</p>
      <p class="pb-2">Payment Errors</p>
    </div>
    <div class="sm:w-1/9 w-1/2 sm:mb-0 mb-6">
      <p class="text-primary text-lg font-bold pb-4">Learn</p>
      <p class="pb-2">Blog</p>
      <p class="pb-2">Full Usage Guide</p>
      <p class="pb-2">Quick Guides</p>
      <p class="pb-2">Videos</p>
    </div>
    <div class="sm:w-1/9 w-1/2">
      <p class="text-primary text-lg font-bold pb-4">Legal</p>
      <p class="pb-2">Cookie Policy</p>
      <p class="pb-2">Data Agreement</p>
      <p class="pb-2">Privacy Policy</p>
      <p class="pb-2">Security Document</p>
      <p class="pb-2">Terms of Use</p>
    </div>
    <div class="sm:w-1/9 w-1/2">
      <p class="text-primary text-lg font-bold pb-4">Business</p>
      <p class="pb-2">Create my Online Store</p>
      <p class="pb-2">Log In</p>
    </div>
  </div>
  <hr />
  <div class="sm:flex justify-between mt-10 mb-10">
    <div class="sm:w-360px w-full">
      <div class="flex items-center justify-between">
        <img
          src="../../assets/reetaila_logo.png"
          class="w-32"
          alt="reetaila logo"
        />
        <p class="text-gray-400 text-3xl font-extralight pt-1">&#x7C;</p>
        <img
          src="../../assets/plugg.png"
          class="w-44 pt-2"
          alt="plugg resources logo"
        />
      </div>
      <p class="text-sm mt-5">
        Reetaila is a Plugg Resources company registered under the Federal
        Government of Nigeria.
      </p>
    </div>
    <div
      class="sm:w-auto w-full flex sm:flex-nowrap flex-wrap items-center sm:justify-between sm:space-x-7 sm:mt-0 mt-7"
    >
      <p class="sm:pb-0 pb-4 pr-5">X (Formerly Twitter)</p>
      <p class="sm:pb-0 pb-4 pr-5">Facebook</p>
      <p class="sm:pb-0 pb-4">Instagram</p>
      <p class="pr-5">LinkedIn</p>
      <p>YouTube</p>
    </div>
  </div>
  <hr />
  <p class="text-sm mt-6 text-gray-500">
    &copy; {{ currentYear }} Plugg Resources and Technologies. All Rights
    Reserved.
  </p>
</footer>
