<section class="w-full h-3/4 bg-cover">
  <app-othernavbar></app-othernavbar>
  <div class="sm:w-1/2 md:mx-28 md:mt-60">
    <p class="sm:text-6xl text-3xl text-white font-semibold md:leading-[65px]">
      Hang tight —
      <span class="text-secondary">we're working on that...</span>
    </p>
    <p class="text-white sm:text-xl text-base pt-4">
      We're crafting something amazing for you. While we put the finishing
      touches on this page, feel free to explore other parts of Reetaila. Stay
      tuned—this space will be worth the wait!
    </p>
    <div class="flex gap-5">
      <a routerLink="/solutions">
        <button
          class="border-0 mt-7 py-3 px-5 rounded-lg bg-secondary text-white sm:text-sm text-xs flex"
        >
          Go Back Home
          <span class="pl-2 align-middle sm:pt-3px"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-4 h-auto"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
              />
            </svg>
          </span></button
      ></a>
      <a routerLink="/solutions">
        <button
          class="border-2 border-white mt-7 py-3 px-5 rounded-lg text-white sm:text-sm text-xs flex"
        >
          Contact Us
          <span class="pl-2 align-middle sm:pt-3px"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-4 h-auto"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
              />
            </svg>
          </span></button
      ></a>
    </div>
  </div>
</section>
<section class="body-font w-full h-auto sm:px-20 px-4 sm:pt-16 pt-12">
  <div class="w-full flex sm:mb-28 mb-5">
    <div class="sm:w-3/12"></div>
    <div class="sm:w-6/12 text-center">
      <p class="sm:text-4xl text-3xl text-primary font-semibold">
        Get tips and insights on businesses and so much more
      </p>
      <p class="sm:text-base text-center text-sm pt-4 mb-6">
        Subscribe to our bi-monthly newsletter to keep up to date with the
        latest tips and expert insights on business management, SEOs, financial
        advice, etc.
      </p>
      <form>
        <input
          class="sm:w-11/12 w-full px-3 py-2 border border-gray-400 sm:text-sm text-xs rounded-lg"
          type="text"
          placeholder="Enter your email and we’ll add you to our mailing list!"
        />
      </form>
      <div class="sm:flex items-center justify-center">
        <a routerLink="/solutions" class="mr-6 mb-3">
          <button
            class="border-0 w-full text-center mt-5 py-3 px-5 rounded-lg bg-primary text-white text-sm"
          >
            Submit
          </button></a
        >
      </div>
    </div>
    <div class="sm:w-3/12"></div>
  </div>
</section>
<section class="body-font w-full h-auto sm:px-20 px-4 sm:py-16 py-12">
  <div class="w-full bg-image3 flex mb-10 rounded-2xl">
    <div class="sm:w-1/2 p-10">
      <p class="sm:text-3xl text-2xl text-white font-semibold">
        Open a Reetaila store and you too can
        <span class="text-secondary">start selling online today!</span>
      </p>
      <p class="sm:text-base text-white text-sm pt-4 mb-6">
        The best way to reach your customers all over the world, manage your
        store and products, view sales summary and much more.
      </p>
      <a routerLink="/solutions">
        <button
          class="border-0 mt-5 py-3 px-5 rounded-lg bg-secondary text-white sm:text-sm text-xs flex"
        >
          Create my store
          <span class="pl-2 align-middle sm:pt-3px"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-4 h-auto"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
              />
            </svg>
          </span></button
      ></a>
    </div>
    <div
      class="sm:w-1/2 relative overflow-x-clip flex items-center justify-center"
    >
      <img
        src="../../assets/lady image.png"
        class="z-10 absolute w-3/4 -mt-8"
        alt="smiling lady"
      />
    </div>
  </div>
  <div class="absolute -mt-10 z-10 left-0 right-0 sm:h-20 h-0 bg-white"></div>
</section>
<app-footer></app-footer>
