<section class="body-font flex sm:flex-nowrap flex-wrap w-full h-screen">
  <div class="hidden sm:w-1/2 w-full bg-image5 px-20 sm:flex sm:flex-col justify-between">
    <div class=""></div>
    <div class="pb-12">
      <p class="text-2xl font-medium text-white mb-2">
        There are at least
        <span class="text-secondary">39.6 million</span> micro, small and medium
        scale businesses operating in Nigeria as at 2020.
      </p>
      <p class="text-xs text-white">
        From a joint report made by the Small and Medium Enterprises Development
        Agency of Nigeria (SMEDAN) and the National Bureau of Statistics (NBS),
        2022, it shows a saturated market for small selling businesses with a
        difficulty to stand out.
      </p>
    </div>
  </div>
  <div class="sm:w-1/2 w-full bg-gray-100 p-10 overflow-y-scroll">
    <progress
      class="w-full rounded-lg progress-bar mb-10"
      value="33.33"
      max="100"
    ></progress>
    <div class="flex justify-center">
      <div class="2/6"></div>
      <div class="1/6 flex justify-center">
        <img
          class="w-2/3 mb-10"
          src="../../assets/reetaila_logo.png"
          alt="reetaila logo"
        />
      </div>
      <div class="2/6"></div>
    </div>
    <div class="rounded-xl bg-white w-full h-auto text-center sm:py-14 py-10 sm:px-20 px-7">
      <p class="sm:text-2xl text-xl text-primary font-medium">Get Started</p>
      <p class="text-center text-sm pt-1.5 sm:mb-10 mb-6">
        Quickly enter some details about your business to help us get you
        started
      </p>
      <form>
        <input
          class="w-full px-3 py-2 border border-gray-400 sm:text-sm text-xs rounded-lg"
          type="text"
          placeholder="Enter your business name"
        />
      </form>
      <div class="items-center justify-center mt-2 sm:mb-12 mb-7">
        <a routerLink="/solutions" class="mr-6 mb-3">
          <button
            class="border-0 w-full text-center sm:mt-5 mt-3 sm:py-3 py-2 sm:px-5 px-3 rounded-lg bg-primary text-white text-sm"
          >
            Proceed
          </button></a
        >
      </div>
      <p class="sm:text-sm text-xs text-gray-400">
        Already got an account with us?
        <a routerLink="/solutions"><span class="text-primary">Log in</span></a>
      </p>
      <p class="sm:text-sm text-xs text-gray-400">
        Need help?
        <a routerLink="/solutions"
          ><span class="text-secondary">Talk to someone here</span></a
        >
      </p>
    </div>
  </div>
</section>
