<app-navbar></app-navbar>
<section class="body-font sm:mt-20 mt-10">
  <div class="container sm:px-5 px-6 mx-auto sm:w-1/2 flex flex-wrap justify-center">
    <h1 class="text-primary sm:text-5xl text-4xl text-center font-semibold">
      You too can now easily own a website for your
      <span class="text-secondary">business!</span>
    </h1>
    <p class="text-center sm:text-lg text-sm mt-4">
      Start selling and receiving payments online to your customers from
      wherever they are with our dedicated business solutions - made as easy as
      you like.
    </p>
    <div class="flex justify-between mt-7">
      <a routerLink="/solutions" class="mr-6">
        <button class="border-0 py-3 px-5 bg-[#1a2342] rounded-lg text-white sm:text-sm text-xs flex">
          Get Started for free
          <span class="pl-2 align-middle sm:pt-3px"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-auto">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span></button></a>
      <a routerLink="/solutions">
        <button class="border-0 py-3 px-5 bg-[#dedede] rounded-lg sm:text-sm text-xs flex">
          Learn More
          <span class="pl-2 align-middle sm:pt-3px"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-auto">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span></button></a>
    </div>
  </div>
  <div
    class="container px-5 sm:mt-16 mt-12 mx-auto sm:w-4/5 justify-center shadow-dropShadow rounded-tl-xl rounded-tr-xl">
    <img src="../../assets/homepage_image.png" alt="heroImage" />
  </div>
</section>

<section class="body-font bg-image1 bg-primary w-full h-auto sm:py-20 py-14 sm:px-20 px-4">
  <div class="sm:w-2/5">
    <p class="sm:text-5xl text-3xl text-white font-semibold">
      A worthy companion for your
      <span class="text-secondary">humble hustle</span>
    </p>
    <p class="text-white sm:text-lg text-base pt-4">
      Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum
      augue. Praesent egestas leo in pede. Praesent blandit
    </p>
  </div>
  <div class="sm:flex sm:space-x-20">
    <div class="mt-16 sm:mb-0 -mb-7 bg-white rounded-3xl sm:w-1/3 h-auto py-10 px-10">
      <p class="text-2xl font-medium sm:w-3/5">Card Title Max 2 Lines</p>
      <p class="text-base mt-2">
        Card Description. Mauris ac mauris sed pede pellentesque fermentum.
        Maecenas adipiscing ante non diam sodales hendrerit. Ut velit mauris.
      </p>
      <a routerLink="/solutions">
        <button class="mt-10 flex">
          Learn More
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 ml-2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
        </button>
      </a>
    </div>
    <div class="mt-16 sm:mb-0 -mb-7 bg-white rounded-3xl sm:w-1/3 h-auto py-10 px-10">
      <p class="text-2xl font-medium sm:w-3/5">Card Title Max 2 Lines</p>
      <p class="text-base mt-2">
        Card Description. Mauris ac mauris sed pede pellentesque fermentum.
        Maecenas adipiscing ante non diam sodales hendrerit. Ut velit mauris.
      </p>
      <a routerLink="/solutions">
        <button class="mt-10 flex">
          Learn More
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 ml-2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
        </button>
      </a>
    </div>
    <div class="mt-16 bg-white rounded-3xl sm:w-1/3 h-auto py-10 px-10">
      <p class="text-2xl font-medium sm:w-3/5">Card Title Max 2 Lines</p>
      <p class="text-base mt-2">
        Card Description. Mauris ac mauris sed pede pellentesque fermentum.
        Maecenas adipiscing ante non diam sodales hendrerit. Ut velit mauris.
      </p>
      <a routerLink="/solutions">
        <button class="mt-10 flex">
          Learn More
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 ml-2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
        </button>
      </a>
    </div>
  </div>
</section>

<section
  class="body-font w-full h-auto flex sm:flex-nowrap flex-wrap sm:space-x-28 sm:py-20 py-14 sm:pr-36 sm:px-0 px-4">
  <div class="sm:w-3/5 bg-image4 sm:rounded-tr-2xl sm:rounded-br-2xl rounded-30px sm:order-1 order-2">
    <img class="sm:hidden" src="../../assets/medium-shot-man-repairing-fashion-goods 1.png" alt="" srcset="" />
  </div>
  <div class="sm:w-2/5 sm:order-2 order-1">
    <p class="sm:text-4xl text-3xl font-semibold">
      Smart Businesses <span class="text-secondary typed"></span><br />
      with Reetaila
    </p>
    <p class="sm:text-base text-sm pt-4">
      Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum
      augue. Praesent egestas leo in pede. Praesent blandit odio eu enim.
    </p>
    <div class="my-2 flex">
      <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
      </span>
      <p class="text-base pt-4">Key Feature Step</p>
    </div>
    <div class="my-2 flex">
      <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
      </span>
      <p class="text-base pt-4">Key Feature Step</p>
    </div>
    <div class="my-2 flex">
      <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
      </span>
      <p class="text-base pt-4">Key Feature Step</p>
    </div>
    <div class="my-2 flex">
      <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
      </span>
      <p class="text-base pt-4">Key Feature Step</p>
    </div>
    <div class="my-2 flex">
      <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
      </span>
      <p class="text-base pt-4">Key Feature Step</p>
    </div>
    <a routerLink="/solutions" class="mr-6 mb-3">
      <button class="border-0 mt-6 py-3 bg-[#1a2342] px-5 rounded-lg text-white sm:text-sm text-xs flex">
        Primary Button
        <span class="pl-2 align-middle sm:pt-3px"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-auto">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
          </svg>
        </span></button></a>
  </div>
</section>

<section class="body-font bg-image2 w-full h-auto flex sm:px-20 px-4 sm:py-16 py-12">
  <div class="sm:w-3/6">
    <p class="sm:text-4xl text-3xl font-semibold">
      ‘I could count a hundred services like you, so
      <span class="text-secondary">why choose Reetaila?’</span>
    </p>
    <p class="sm:text-base text-sm pt-4 mb-6">
      Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum
      augue. Praesent egestas leo in pede. Praesent blandit odio eu enim.
    </p>
    <div class="my-3 flex sm:w-4/6 w-full py-3 px-7 bg-white rounded-md">
      <span class="pr-2.5 align-middle"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
        </svg>
      </span>
      <p class="text-sm">Key Feature Step</p>
    </div>
    <div class="my-3 flex sm:w-4/6 w-full py-3 px-7 bg-white rounded-md">
      <span class="pr-2.5 align-middle"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
        </svg>
      </span>
      <p class="text-sm">Key Feature Step</p>
    </div>
    <div class="my-3 flex sm:w-4/6 w-full py-3 px-7 bg-white rounded-md">
      <span class="pr-2.5 align-middle"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
        </svg>
      </span>
      <p class="text-sm">Key Feature Step</p>
    </div>
    <div class="my-3 flex sm:w-4/6 w-full py-3 px-7 bg-white rounded-md">
      <span class="pr-2.5 align-middle"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
        </svg>
      </span>
      <p class="text-sm">Key Feature Step</p>
    </div>
    <div class="my-3 flex sm:w-4/6 w-full py-3 px-7 bg-white rounded-md">
      <span class="pr-2.5 align-middle"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
        </svg>
      </span>
      <p class="text-sm">Key Feature Step</p>
    </div>
    <a routerLink="/solutions" class="mr-6 mb-3">
      <button class="border-1 border-black text-black mt-6 py-3 px-5 rounded-xl sm:text-sm text-xs flex">
        Outline Button
        <span class="pl-2 align-middle sm:pt-3px"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-auto">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
          </svg>
        </span></button></a>
  </div>
</section>

<section class="body-font hidden lg:block w-full h-auto sm:px-20 px-4 sm:py-16 py-12">
  <div class="w-full flex mb-10">
    <div class="sm:w-3/12"></div>
    <div class="sm:w-6/12 text-center">
      <p class="sm:text-4xl text-3xl font-semibold">
        What
        <span class="text-secondary">successful business owners</span> have to
        say about us
      </p>
      <p class="sm:text-base text-center text-sm pt-4 mb-6">
        A few brave businesses ready to take their brands to the next phase have
        tried us so far and here’s what they had to say. Careful now, you might
        be over-convinced.
      </p>
    </div>
    <div class="sm:w-3/12"></div>
  </div>
  <div class="w-full flex justify-between -mb-36">
    <div class="w-2/5">
      <div class="bg-primary h-auto p-8 text-base text-white rounded-3xl">
        Testimony Main. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing
        nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula
        massa, varius a, semper congue, euismod non, mi. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Sed non risus.
      </div>
      <div class="float-right flex items-center space-x-4 mt-4">
        <div class="text-right">
          <p class="text-base">Testifier Name</p>
          <p class="text-sm">Testifier Business and Post</p>
        </div>
        <div class="w-16 h-16 testimonial1 rounded-full"></div>
      </div>
    </div>
    <div class="bg-none h-auto p-8 rounded-3xl"></div>
  </div>
  <div class="w-full flex justify-between">
    <div class="bg-none h-auto p-8 rounded-3xl"></div>
    <div class="w-2/5">
      <div class="bg-primary h-auto p-8 text-base text-white rounded-3xl">
        Testimony Main. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing
        nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula
        massa, varius a, semper congue, euismod non, mi. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Sed non risus.
      </div>
      <div class="float-right flex items-center space-x-4 mt-4">
        <div class="w-16 h-16 testimonial2 rounded-full"></div>
        <div class="text-right">
          <p class="text-base">Testifier Name</p>
          <p class="text-sm">Testifier Business and Post</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-between -mb-36">
    <div class="w-2/5">
      <div class="bg-primary h-auto p-8 text-base text-white rounded-3xl">
        Testimony Main. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing
        nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula
        massa, varius a, semper congue, euismod non, mi. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Sed non risus.
      </div>
      <div class="float-right flex items-center space-x-4 mt-4">
        <div class="text-right">
          <p class="text-base">Testifier Name</p>
          <p class="text-sm">Testifier Business and Post</p>
        </div>
        <div class="w-16 h-16 testimonial3 rounded-full"></div>
      </div>
    </div>
    <div class="bg-none h-auto p-8 rounded-3xl"></div>
  </div>
  <div class="w-full flex justify-between">
    <div class="bg-none h-auto p-8 rounded-3xl"></div>
    <div class="w-2/5">
      <div class="bg-primary h-auto p-8 text-base text-white rounded-3xl">
        Testimony Main. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing
        nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula
        massa, varius a, semper congue, euismod non, mi. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Sed non risus.
      </div>
      <div class="float-right flex items-center space-x-4 mt-4">
        <div class="w-16 h-16 testimonial4 rounded-full"></div>
        <div class="text-right">
          <p class="text-base">Testifier Name</p>
          <p class="text-sm">Testifier Business and Post</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="body-font block lg:hidden w-full h-auto sm:px-20 px-4 sm:py-16 py-12">
  <div class="w-full flex mb-4">
    <div class="sm:w-2/12"></div>
    <div class="sm:w-8/12 text-center">
      <p class="sm:text-4xl text-3xl font-semibold">
        What
        <span class="text-secondary">successful business owners</span> have to
        say about us
      </p>
      <p class="sm:text-base text-center text-sm pt-4 mb-6">
        A few brave businesses ready to take their brands to the next phase have
        tried us so far and here’s what they had to say. Careful now, you might
        be over-convinced.
      </p>
    </div>
    <div class="sm:w-2/12"></div>
  </div>

  <div>
    <div class="w-full" *ngFor="let slide of slides; index as i">
      <div class="slide" *ngIf="i === currentSlide" [innerHTML]="slide.content"></div>
    </div>
    <div class="w-full flex justify-between mt-10">
      <button (click)="previousSlide()">
        <div class="w-10 h-10 flex bg-gray-200 rounded-full justify-center items-center">
          <span class="align-middle text-gray-400 font-bold"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-3 h-auto">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>
          </span>
        </div>
      </button>
      <button (click)="nextSlide()">
        <div class="w-10 h-10 flex bg-primary rounded-full justify-center items-center">
          <span class="align-middle text-white font-bold"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-3 h-auto">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span>
        </div>
      </button>
    </div>
  </div>
</section>

<section class="body-font bg-tertiary w-full h-auto sm:px-20 px-4 sm:py-16 py-12">
  <div class="sm:w-3/6">
    <p class="sm:text-4xl text-3xl font-semibold">
      Visibility for your small business; get
      <span class="text-secondary">listed on our marketplace.</span>
    </p>
    <p class="sm:text-base text-sm pt-4 mb-6">
      The best and most active businesses have their products listed on our
      online, 24/7 marketplace where users and business can randomly stumble
      upon your amazing stock!
    </p>
  </div>
  <div class="flex flex-wrap sm:space-x-1 sm:mt-16 mt-10 justify-between">
    <div class="group sm:w-1/6 w-full h-auto bg-white rounded-xl">
      <div class="w-full h-48 product-image1 rounded-t-xl"></div>
      <div class="pl-5 pr-5 pt-3 flex">
        <p class="text-base overflow-hidden overflow-ellipsis whitespace-nowrap">
          Short (6”) tequila/alcohol glass cup
        </p>
      </div>
      <div class="pl-5 pr-5 pt-1 pb-3">
        <p class="text-secondary text-xl font-bold">₦ 12,000.00</p>
        <p class="text-gray-400 line-through">₦ 18,000.00</p>
      </div>
      <div class="pl-5 pb-5 flex items-center text-gray-600">
        <a routerLink="/solutions" class="flex items-center"><span><svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
            </svg>
          </span>
          <p class="text-xs pl-2 pr-1">C.J.K. Jideofor Stores</p>
          <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-4 h-4 transform rotate-45">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m15 11.25-3-3m0 0-3 3m3-3v7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg> </span>
        </a>
      </div>
      <a routerLink="/solutions">
        <div
          class="group-hover:bg-secondary group-focus:bg-secondary w-full h-auto p-2 text-lg text-center text-white rounded-b-xl">
          Buy Now
        </div>
      </a>
    </div>
    <div class="group sm:w-1/6 w-full h-auto sm:mt-0 mt-7 bg-white rounded-xl">
      <div class="w-full h-48 product-image2 rounded-t-xl"></div>
      <div class="pl-5 pr-5 pt-3 flex">
        <p class="text-base overflow-hidden overflow-ellipsis whitespace-nowrap">
          Nike Mercurial Marcus Rashford
        </p>
      </div>
      <div class="pl-5 pr-5 pt-1 pb-3">
        <p class="text-secondary text-xl font-bold">₦ 76,000.00</p>
        <p class="text-gray-400 line-through">₦ 124,325.00</p>
      </div>
      <div class="pl-5 pb-5 flex items-center text-gray-600">
        <a routerLink="/solutions" class="flex items-center"><span><svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
            </svg>
          </span>
          <p class="text-xs pl-2 pr-1">Easy Football Kits</p>
          <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-4 h-4 transform rotate-45">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m15 11.25-3-3m0 0-3 3m3-3v7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg> </span>
        </a>
      </div>
      <a routerLink="/solutions">
        <div
          class="group-hover:bg-secondary group-focus:bg-secondary w-full h-auto p-2 text-lg text-center text-white rounded-b-xl">
          Buy Now
        </div>
      </a>
    </div>
    <div class="group sm:w-1/6 w-full h-auto sm:mt-0 mt-7 bg-white rounded-xl">
      <div class="w-full h-48 product-image3 rounded-t-xl"></div>
      <div class="pl-5 pr-5 pt-3 flex">
        <p class="text-base overflow-hidden overflow-ellipsis whitespace-nowrap">
          Female Casual Body-con gown
        </p>
      </div>
      <div class="pl-5 pr-5 pt-1 pb-3">
        <p class="text-secondary text-xl font-bold">₦ 26,000.00</p>
        <p class="text-gray-400 line-through">₦ 34,150.00</p>
      </div>
      <div class="pl-5 pb-5 flex items-center text-gray-600">
        <a routerLink="/solutions" class="flex items-center"><span><svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
            </svg>
          </span>
          <p class="text-xs pl-2 pr-1">Ebiere’s Ladies’ Heaven</p>
          <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-4 h-4 transform rotate-45">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m15 11.25-3-3m0 0-3 3m3-3v7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg> </span>
        </a>
      </div>
      <a routerLink="/solutions">
        <div
          class="group-hover:bg-secondary group-focus:bg-secondary w-full h-auto p-2 text-lg text-center text-white rounded-b-xl">
          Buy Now
        </div>
      </a>
    </div>
    <div class="group sm:w-1/6 w-full h-auto sm:mt-0 mt-7 bg-white rounded-xl">
      <div class="w-full h-48 product-image4 rounded-t-xl"></div>
      <div class="pl-5 pr-5 pt-3 flex">
        <p class="text-base overflow-hidden overflow-ellipsis whitespace-nowrap">
          LG 5-Burner Full-Sized Cooker
        </p>
      </div>
      <div class="pl-5 pr-5 pt-1 pb-3">
        <p class="text-secondary text-xl font-bold">₦ 90,000.00</p>
        <p class="text-gray-400 line-through">₦ 100,000.00</p>
      </div>
      <div class="pl-5 pb-5 flex items-center text-gray-600">
        <a routerLink="/solutions" class="flex items-center"><span><svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
            </svg>
          </span>
          <p class="text-xs pl-2 pr-1">Yinka LG Showroom</p>
          <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-4 h-4 transform rotate-45">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m15 11.25-3-3m0 0-3 3m3-3v7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg> </span>
        </a>
      </div>
      <a routerLink="/solutions">
        <div
          class="group-hover:bg-secondary group-focus:bg-secondary w-full h-auto p-2 text-lg text-center text-white rounded-b-xl">
          Buy Now
        </div>
      </a>
    </div>
    <div class="group sm:w-1/6 w-full h-auto sm:mt-0 mt-7 bg-white rounded-xl">
      <div class="w-full h-48 product-image5 rounded-t-xl"></div>
      <div class="pl-5 pr-5 pt-3 flex">
        <p class="text-base overflow-hidden overflow-ellipsis whitespace-nowrap">
          Red and Black Ball Gown 4 year old
        </p>
      </div>
      <div class="pl-5 pr-5 pt-1 pb-3">
        <p class="text-secondary text-xl font-bold">₦ 25,000.00</p>
        <p class="text-gray-400 line-through">₦ 33,250.00</p>
      </div>
      <div class="pl-5 pb-5 flex items-center text-gray-600">
        <a routerLink="/solutions" class="flex items-center"><span><svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
            </svg>
          </span>
          <p class="text-xs pl-2 pr-1">Adaoranificient</p>
          <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-4 h-4 transform rotate-45">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m15 11.25-3-3m0 0-3 3m3-3v7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg> </span>
        </a>
      </div>
      <a routerLink="/solutions">
        <div
          class="group-hover:bg-secondary group-focus:bg-secondary w-full h-auto p-2 text-lg text-center text-white rounded-b-xl">
          Buy Now
        </div>
      </a>
    </div>
  </div>
  <div class="flex items-center justify-center">
    <a routerLink="/solutions" class="mr-6 mb-3">
      <button
        class="border-1 border-black text-black mt-12 py-3 px-5 rounded-xl sm:text-base text-xs flex items-center">
        Visit Marketplace
        <span class="pl-2 align-middle pt-1"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="2" stroke="currentColor" class="w-4 h-auto">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
          </svg>
        </span></button></a>
  </div>
</section>

<section class="body-font bg-image3 w-full h-auto sm:px-20 px-4 sm:py-16 py-12">
  <div class="w-full flex mb-10">
    <div class="sm:w-3/12"></div>
    <div class="sm:w-6/12 text-center">
      <p class="sm:text-4xl text-3xl text-white font-semibold">
        We have a plan for every business and yes,
        <span class="text-secondary">it’s affordable.</span>
      </p>
      <p class="sm:text-base text-center text-white text-sm pt-4 mb-6">
        Get started for as little as N1,200 per month and enjoy world class
        solutions to propel your business further ahead!
      </p>
    </div>
    <div class="sm:w-3/12"></div>
  </div>
  <div class="sm:flex text-white sm:space-x-7 justify-between">
    <div class="sm:w-1/3 w-full h-auto px-6 pt-10 pb-5 bg-primary rounded-xl">
      <div class="w-3/5 mb-6">
        <p class="sm:text-xl text-lg">Pricing Plan Title</p>
        <p class="sm:text-3xl text-xl font-semibold pt-1">Pricing Plan Cost</p>
        <p class="sm:text-base text-gray-400 text-sm pt-2">
          Pricing Plan Brief Description. Max 2 Lines
        </p>
      </div>
      <hr class="mb-7" />
      <div class="my-2 flex">
        <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </span>
        <p class="text-base pt-4">Pricing Feature</p>
      </div>
      <div class="my-2 flex">
        <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </span>
        <p class="text-base pt-4">Pricing Feature</p>
      </div>
      <div class="my-2 flex">
        <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </span>
        <p class="text-base pt-4">Pricing Feature</p>
      </div>
      <div class="my-2 flex">
        <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </span>
        <p class="text-base pt-4">Pricing Feature</p>
      </div>
      <div class="my-2 flex">
        <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </span>
        <p class="text-base pt-4">Pricing Feature</p>
      </div>
      <a routerLink="/solutions" class="mr-6 mb-3">
        <button class="border-0 w-full mt-10 py-3 px-5 rounded-lg bg-secondary text-white sm:text-sm text-xs flex">
          Get Started
          <span class="pl-2 align-middle sm:pt-3px"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-auto">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span></button></a>
    </div>
    <div class="sm:w-1/3 w-full h-auto px-6 pt-10 pb-5 sm:mt-0 mt-7 bg-primary rounded-xl">
      <div class="w-3/5 mb-6">
        <p class="sm:text-xl text-lg">Pricing Plan Title</p>
        <p class="sm:text-3xl text-xl font-semibold pt-1">Pricing Plan Cost</p>
        <p class="sm:text-base text-gray-400 text-sm pt-2">
          Pricing Plan Brief Description. Max 2 Lines
        </p>
      </div>
      <hr class="mb-7 bg-gray-300" />
      <div class="my-2 flex">
        <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </span>
        <p class="text-base pt-4">Pricing Feature</p>
      </div>
      <div class="my-2 flex">
        <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </span>
        <p class="text-base pt-4">Pricing Feature</p>
      </div>
      <div class="my-2 flex">
        <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </span>
        <p class="text-base pt-4">Pricing Feature</p>
      </div>
      <div class="my-2 flex">
        <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </span>
        <p class="text-base pt-4">Pricing Feature</p>
      </div>
      <div class="my-2 flex">
        <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </span>
        <p class="text-base pt-4">Pricing Feature</p>
      </div>
      <a routerLink="/solutions" class="mr-6 mb-3">
        <button class="border-0 w-full mt-10 py-3 px-5 rounded-lg bg-secondary text-white sm:text-sm text-xs flex">
          Get Started
          <span class="pl-2 align-middle sm:pt-3px"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-auto">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span></button></a>
    </div>
    <div class="sm:w-1/3 w-full h-auto px-6 pt-10 pb-5 sm:mt-0 mt-7 bg-primary rounded-xl">
      <div class="w-3/5 mb-6">
        <p class="sm:text-xl text-lg">Pricing Plan Title</p>
        <p class="sm:text-3xl text-xl font-semibold pt-1">Pricing Plan Cost</p>
        <p class="sm:text-base text-gray-400 text-sm pt-2">
          Pricing Plan Brief Description. Max 2 Lines
        </p>
      </div>
      <hr class="mb-7 bg-gray-300" />
      <div class="my-2 flex">
        <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </span>
        <p class="text-base pt-4">Pricing Feature</p>
      </div>
      <div class="my-2 flex">
        <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </span>
        <p class="text-base pt-4">Pricing Feature</p>
      </div>
      <div class="my-2 flex">
        <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </span>
        <p class="text-base pt-4">Pricing Feature</p>
      </div>
      <div class="my-2 flex">
        <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </span>
        <p class="text-base pt-4">Pricing Feature</p>
      </div>
      <div class="my-2 flex">
        <span class="pr-2.5 align-middle sm:pt-4 pt-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </span>
        <p class="text-base pt-4">Pricing Feature</p>
      </div>
      <a routerLink="/solutions" class="mr-6 mb-3">
        <button class="border-0 w-full mt-10 py-3 px-5 rounded-lg bg-secondary text-white sm:text-sm text-xs flex">
          Get Started
          <span class="pl-2 align-middle sm:pt-3px"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-auto">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span></button></a>
    </div>
  </div>
</section>

<section class="body-font w-full h-auto sm:px-20 px-4 sm:pt-16 pt-12">
  <div class="w-full flex sm:mb-28 mb-5">
    <div class="sm:w-3/12"></div>
    <div class="sm:w-6/12 text-center">
      <p class="sm:text-4xl text-3xl text-primary font-semibold">
        Get tips and insights on businesses and so much more
      </p>
      <p class="sm:text-base text-center text-sm pt-4 mb-6">
        Subscribe to our bi-monthly newsletter to keep up to date with the
        latest tips and expert insights on business management, SEOs, financial
        advice, etc.
      </p>
      <form>
        <input class="sm:w-11/12 w-full px-3 py-2 border border-gray-400 sm:text-sm text-xs rounded-lg" type="text"
          placeholder="Enter your email and we’ll add you to our mailing list!" />
      </form>
      <div class="sm:flex items-center justify-center">
        <a routerLink="/solutions" class="mr-6 mb-3">
          <button class="border-0 w-full text-center mt-5 py-3 px-5 rounded-lg bg-primary text-white text-sm">
            Submit
          </button></a>
      </div>
    </div>
    <div class="sm:w-3/12"></div>
  </div>
</section>

<section class="body-font w-full h-auto sm:px-20 px-4 sm:py-16 py-12">
  <div class="w-full bg-image3 flex mb-10 rounded-2xl">
    <div class="sm:w-1/2 p-10">
      <p class="sm:text-3xl text-2xl text-white font-semibold">
        Open a Reetaila store and you too can
        <span class="text-secondary">start selling online today!</span>
      </p>
      <p class="sm:text-base text-white text-sm pt-4 mb-6">
        The best way to reach your customers all over the world, manage your
        store and products, view sales summary and much more.
      </p>
      <a routerLink="/solutions">
        <button class="border-0 mt-5 py-3 px-5 rounded-lg bg-secondary text-white sm:text-sm text-xs flex">
          Create my store
          <span class="pl-2 align-middle sm:pt-3px"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-auto">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
          </span></button></a>
    </div>
    <div class="sm:w-1/2 relative overflow-x-clip flex items-center justify-center">
      <img src="../../assets/lady image.png" class="z-10 absolute w-3/4 -mt-8" alt="smiling lady" />
    </div>
  </div>
  <div class="absolute -mt-10 z-10 left-0 right-0 sm:h-20 h-0 bg-white"></div>
</section>
<app-footer></app-footer>
